<!DOCTYPE html>
<html>
<head>
  <title>TdJsError</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "shared/td/setupper" %>
</head>
<body>

<%= yield %>

</body>
</html>
